/*Contacto*/

.contact-section {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

.contact-section h1 {
  margin-top: 60px;
  margin-bottom: 50px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}

.input-contact {
  padding: 15px;
  margin-top: 5px;
  border: none;
  background-color: rgba(111, 115, 139, 0.1);
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.input-contact-email-phone {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.input-contact-email {
  width: 48%;
}

.input-contact-phone {
  width: 48%;
}

.input-contact-message {
  height: 120px;
}

.contact-form button {
  padding: 15px 20px 15px 20px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.3s ease-in-out;
}

.contact-form button:hover {
  background-color: #a2d6f9;
  color: var(--letter1);
  transition: all 0.1s ease-in-out;
}

.error-container {
  min-height: 20px;
}

.error-msg {
  color: red;
  font-size: 0.9em;
  margin: 0;
}

/*Responsive*/

/* Móviles grandes */
@media (max-width: 767px) {
  body {
  }

  .input-contact-email-phone {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .input-contact-email {
    width: 100%;
  }

  .input-contact-phone {
    width: 100%;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
  }

  .input-contact-email-phone {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .input-contact-email {
    width: 100%;
  }

  .input-contact-phone {
    width: 100%;
  }
}

/* Laptops */
@media (min-width: 1024px) {
  body {
  }
}
